# Cleaning and Analyzing Ebay Car Sales Data

In this project we'll work with a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website. The orignal dataset can be found: [here](https://data.world/data-society/used-cars-data). Our data set is 50k rows pulled from the original data set that have been purposely 'dirtied' by DataQuest as the goal of this project is data cleaning. After we clean up our dataset we'll do a bit of analysis on how mileage affects car price.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

autos = pd.read_csv('autos.csv', encoding='Latin-1')

### Exploring Dataset

In [2]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

The column names in our dataset are camel case, we'll start by converting the column names to snake case and simplifying a couple of the names to make them easier to work with.

There are 5 columns with null values but none of them have more than 20%.

### Clean Column Names

In [4]:
autos.columns = ['date_crawled', 'name', 'seller',
                 'offer_type', 'price', 'ab_test',
                 'vehicle_type', 'registration_year',
                 'gearbox', 'power_ps', 'model', 
                 'odometer', 'registration_month',
                 'fuel_type', 'brand', 
                 'unrepaired_damage', 'ad_created', 
                 'num_of_pictures', 'postal_code',
                 'last_seen']

autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [5]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-12 16:06:22,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

### Convert Values to Numeric

The price and odometer columns have numerical values stored as text due to the extra characters ('$' and 'km'), which will make analyzing these columns more difficult. We'll clean the values in these columns by removing th extra characters. Since the characters in the odometer column were an indication of the measurement type, we'll add it to the column name (odometer_km) so we're not losing important information.

In [6]:
#converting columns to numeric
autos['price'] = autos['price'].str.replace('$','').str.replace(',','').astype(float)
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','').astype(int)

In [7]:
#adding measurment to column name since we removed it from values
autos.rename(columns = {'odometer':'odometer_km'}, inplace=True)

In [8]:
autos['odometer_km'].value_counts().sort_index(ascending=True)

5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64

In [9]:
pd.set_option("display.max_rows", None) #show all instead of truncating output
autos['price'].value_counts().sort_index(ascending=True)

0.0           1421
1.0            156
2.0              3
3.0              1
5.0              2
8.0              1
9.0              1
10.0             7
11.0             2
12.0             3
13.0             2
14.0             1
15.0             2
17.0             3
18.0             1
20.0             4
25.0             5
29.0             1
30.0             7
35.0             1
40.0             6
45.0             4
47.0             1
49.0             4
50.0            49
55.0             2
59.0             1
60.0             9
65.0             5
66.0             1
70.0            10
75.0             5
79.0             1
80.0            15
89.0             1
90.0             5
99.0            19
100.0          134
110.0            3
111.0            2
115.0            2
117.0            1
120.0           39
122.0            1
125.0            8
129.0            1
130.0           15
135.0            1
139.0            1
140.0            9
145.0            2
149.0            7
150.0          224
156.0            2
160.0            8
170.0            7
173.0            1
175.0           12
179.0            1
180.0           35
185.0            1
188.0            1
190.0           16
193.0            1
195.0            2
198.0            1
199.0           41
200.0          266
205.0            1
210.0            1
215.0            2
217.0            1
219.0            1
220.0           33
222.0           12
225.0            8
230.0           12
235.0            2
238.0            1
240.0            3
248.0            1
249.0           13
250.0          291
251.0            1
255.0            1
260.0            5
269.0            1
270.0            6
275.0            7
277.0            1
280.0           30
285.0            1
290.0           19
295.0            1
299.0           56
300.0          384
310.0            1
320.0           12
325.0            5
329.0            2
330.0            8
333.0           17
340.0           11
349.0           15
350.0          335
356.0            1
359.0            1
360.0            8
369.0            1
370.0           21
375.0            7
378.0            1
379.0            1
380.0           29
385.0            1
388.0            1
390.0           26
395.0            2
399.0           71
400.0          321
410.0            1
414.0            1
420.0            9
425.0            4
430.0           13
435.0            1
440.0            1
444.0            8
449.0           12
450.0          265
459.0            1
460.0            5
470.0            7
475.0            4
480.0           25
485.0            2
490.0           34
495.0            4
499.0           92
500.0          781
501.0            1
510.0            2
517.0            1
520.0            8
525.0            4
530.0            8
540.0            2
549.0           13
550.0          356
554.0            1
555.0           33
560.0            4
566.0            1
570.0            7
575.0            5
578.0            1
579.0            1
580.0           20
590.0           52
595.0            2
598.0            2
599.0          122
600.0          531
606.0            1
620.0            7
625.0            5
628.0            1
630.0            3
640.0            3
644.0            1
648.0            1
649.0           14
650.0          419
655.0            1
660.0            5
666.0           14
669.0            2
670.0            6
675.0            5
679.0            1
680.0           30
686.0            1
689.0            2
690.0           68
695.0            3
699.0          127
700.0          395
710.0            1
719.0            1
720.0            7
725.0            2
729.0            1
730.0            5
740.0            3
744.0            1
745.0            2
749.0           23
750.0          433
755.0            1
760.0            8
770.0            6
777.0           20
780.0           19
785.0            1
789.0            1
790.0           45
795.0            2
799.0          120
800.0          498
810.0            3
820.0            6
825.0            4
829.0            1
830.0            6
834.0            1
839.0            1
840.0            5
846.0            1
849.0           13
850.0          410
855.0            3
860.0            1
870.0           12
875.0            3
879.0            1
880.0           14
885.0            1
887.0            1
888.0           29
889.0            1
890.0           66
895.0            3
898.0            1
899.0          129
900.0          420
910.0            1
919.0            1
920.0            1
925.0            1
930.0            4
940.0            2
945.0            2
949.0           11
950.0          379
951.0            1
958.0            1
960.0            1
965.0            2
970.0            7
975.0            2
980.0           48
985.0            4
989.0            2
990.0          147
995.0            5
996.0            1
998.0            5
999.0          434
1000.0         639
1039.0           1
1040.0           1
1049.0           6
1050.0          95
1059.0           1
1070.0           1
1080.0           6
1090.0           4
1095.0           3
1098.0           1
1099.0          44
1100.0         376
1111.0          39
1112.0           1
1119.0           1
1120.0           2
1149.0          10
1150.0         226
1169.0           1
1170.0           1
1180.0           4
1189.0           1
1190.0          37
1195.0           1
1199.0         126
1200.0         639
1201.0           2
1209.0           1
1212.0           2
1221.0           1
1222.0           3
1234.0           3
1240.0           2
1247.0           1
1249.0           4
1250.0         335
1265.0           1
1270.0           4
1275.0           1
1280.0          12
1285.0           3
1290.0          38
1295.0           1
1299.0         135
1300.0         371
1310.0           1
1325.0           1
1330.0           1
1333.0           3
1340.0           2
1345.0           2
1349.0           5
1350.0         276
1355.0           1
1370.0           3
1375.0           3
1379.0           1
1380.0          10
1385.0           1
1390.0          67
1395.0           5
1398.0           2
1399.0          95
1400.0         292
1414.0           1
1420.0           1
1425.0           2
1430.0           3
1432.0           1
1440.0           2
1444.0           4
1448.0           2
1449.0           8
1450.0         252
1466.0           1
1470.0           2
1475.0           2
1480.0           8
1485.0           1
1490.0          88
1494.0           1
1495.0           3
1497.0           1
1498.0           1
1499.0         157
1500.0         734
1520.0           2
1525.0           2
1530.0           2
1545.0           1
1549.0           5
1550.0         150
1555.0           7
1560.0           1
1570.0           2
1575.0           2
1579.0           1
1580.0           5
1590.0          43
1595.0           3
1599.0          92
1600.0         327
1630.0           2
1640.0           1
1642.0           1
1645.0           1
1649.0           8
1650.0         238
1659.0           1
1660.0           2
1666.0           3
1670.0           2
1675.0           2
1680.0           8
1689.0           1
1690.0          43
1695.0           2
1698.0           1
1699.0          85
1700.0         268
1730.0           1
1749.0           5
1750.0         238
1755.0           1
1759.0           1
1760.0           1
1765.0           1
1770.0           1
1775.0           1
1777.0           4
1780.0           1
1790.0          42
1795.0           1
1797.0           1
1798.0           1
1799.0          73
1800.0         355
1820.0           1
1840.0           4
1845.0           1
1849.0           5
1850.0         216
1856.0           1
1860.0           1
1870.0           1
1875.0           2
1880.0           6
1888.0           3
1890.0          38
1895.0           1
1899.0          53
1900.0         239
1906.0           1
1925.0           1
1930.0           1
1933.0           1
1935.0           1
1945.0           2
1949.0           1
1950.0         208
1955.0           1
1960.0           1
1970.0           2
1975.0           1
1980.0          15
1981.0           1
1984.0           1
1985.0           1
1990.0         117
1995.0           4
1996.0           1
1998.0           4
1999.0         322
2000.0         460
2001.0           1
2004.0           1
2033.0           1
2035.0           1
2050.0          27
2070.0           1
2090.0           2
2095.0           1
2099.0          21
2100.0         208
2111.0           2
2128.0           1
2134.0           1
2140.0           1
2149.0           2
2150.0          95
2175.0           1
2180.0           1
2190.0          29
2195.0           1
2199.0          52
2200.0         382
2210.0           6
2222.0          27
2225.0           1
2241.0           1
2245.0           1
2249.0           2
2250.0         147
2265.0           2
2270.0           1
2280.0           6
2288.0           1
2290.0          29
2295.0           2
2299.0          38
2300.0         290
2321.0           2
2333.0           5
2340.0           3
2349.0           2
2350.0         127
2359.0           1
2380.0           2
2390.0          31
2398.0           2
2399.0          55
2400.0         193
2410.0           1
2430.0           1
2444.0           5
2449.0           5
2450.0         120
2455.0           1
2459.0           1
2460.0           1
2470.0           2
2479.0           1
2480.0           9
2490.0          66
2495.0           1
2496.0           1
2498.0           1
2499.0         136
2500.0         643
2549.0           1
2550.0          64
2555.0           5
2569.0           1
2570.0           1
2580.0           2
2589.0           1
2590.0          19
2598.0           1
2599.0          50
2600.0         241
2649.0           3
2650.0         125
2651.0           1
2655.0           1
2660.0           2
2666.0           3
2670.0           1
2671.0           1
2680.0           2
2690.0          22
2695.0           1
2699.0          33
2700.0         221
2725.0           1
2749.0           8
2750.0         169
2775.0           2
2777.0           3
2780.0           3
2785.0           1
2789.0           1
2790.0          29
2798.0           1
2799.0          53
2800.0         291
2849.0           1
2850.0         131
2860.0           3
2870.0           1
2874.0           1
2880.0           1
2888.0           4
2890.0          26
2895.0           1
2899.0          30
2900.0         256
2910.0           1
2920.0           1
2944.0           1
2949.0           4
2950.0         173
2980.0           7
2985.0           1
2986.0           1
2989.0           1
2990.0         134
2993.0           1
2995.0           5
2997.0           1
2998.0           4
2999.0         242
3000.0         365
3001.0           2
3010.0           1
3012.0           1
3020.0           1
3049.0           1
3050.0           9
3055.0           1
3060.0           2
3075.0           1
3080.0           1
3099.0          11
3100.0         133
3111.0           2
3119.0           1
3120.0           1
3122.0           1
3125.0           1
3129.0           1
3149.0           3
3150.0          64
3178.0           1
3180.0           2
3190.0          12
3195.0           1
3199.0          37
3200.0         261
3210.0           1
3211.0           1
3220.0           1
3222.0           2
3230.0           2
3240.0           2
3249.0           3
3250.0         109
3260.0           1
3266.0           1
3279.0           1
3280.0           3
3285.0           1
3290.0          21
3295.0           1
3299.0          35
3300.0         197
3318.0           1
3330.0           3
3333.0          39
3349.0           1
3350.0          61
3360.0           1
3380.0           4
3390.0          18
3395.0           1
3399.0          24
3400.0         137
3410.0           1
3420.0           1
3425.0           1
3444.0           2
3449.0           1
3450.0          82
3455.0           1
3456.0           2
3470.0           2
3475.0           1
3480.0           5
3485.0           1
3490.0          46
3495.0           6
3498.0           2
3499.0          80
3500.0         498
3501.0           1
3540.0           1
3549.0           3
3550.0          46
3555.0           4
3560.0           1
3580.0           1
3589.0           1
3590.0          13
3599.0          22
3600.0         127
3620.0           1
3633.0           1
3650.0          83
3660.0           1
3666.0           6
3670.0           3
3680.0           2
3690.0          28
3699.0          35
3700.0         155
3710.0           1
3725.0           1
3749.0           2
3750.0         112
3760.0           1
3774.0           1
3777.0           3
3780.0           1
3790.0          24
3795.0           1
3799.0          41
3800.0         264
3849.0           1
3850.0          78
3876.0           1
3879.0           1
3880.0           2
3888.0           4
3890.0          18
3895.0           2
3899.0          31
3900.0         238
3940.0           2
3945.0           1
3949.0           1
3950.0         135
3952.0           1
3955.0           2
3957.0           1
3965.0           1
3969.0           1
3970.0           1
3975.0           1
3980.0           7
3989.0           1
3990.0         103
3993.0           1
3995.0           3
3996.0           1
3998.0           4
3999.0         212
4000.0         246
4004.0           1
4005.0           1
4050.0           3
4090.0           3
4099.0           8
4100.0          86
4111.0           1
4123.0           1
4125.0           1
4149.0           1
4150.0          42
4159.0           1
4180.0           1
4190.0          14
4199.0          32
4200.0         226
4201.0           1
4210.0           1
4220.0           1
4222.0           1
4239.0           1
4249.0           4
4250.0          92
4270.0           1
4275.0           1
4279.0           1
4280.0           1
4286.0           1
4290.0          14
4295.0           1
4299.0          26
4300.0         132
4320.0           1
4333.0           1
4335.0           1
4349.0           1
4350.0          45
4390.0          19
4398.0           1
4399.0          26
4400.0          88
4440.0           1
4444.0          23
4450.0          35
4470.0           2
4475.0           1
4480.0           2
4485.0           1
4490.0          38
4495.0           1
4497.0           2
4498.0           2
4499.0          58
4500.0         394
4510.0           1
4525.0           1
4545.0           1
4549.0           1
4550.0          28
4555.0           2
4567.0           1
4580.0           2
4590.0          16
4598.0           1
4599.0          14
4600.0          82
4649.0           1
4650.0          61
4655.0           1
4666.0           2
4680.0           2
4690.0          13
4699.0          22
4700.0          99
4740.0           1
4750.0          66
4755.0           1
4770.0           1
4777.0           1
4780.0           1
4790.0          14
4799.0          15
4800.0         186
4830.0           2
4840.0           1
4850.0          59
4855.0           1
4860.0           1
4877.0           1
4888.0           2
4890.0           7
4895.0           1
4899.0          19
4900.0         188
4949.0           3
4950.0         126
4955.0           1
4980.0          10
4985.0           2
4990.0          99
4994.0           1
4995.0           7
4998.0           4
4999.0         174
5000.0         239
5012.0           1
5015.0           1
5049.0           1
5050.0           3
5099.0           4
5100.0          51
5120.0           1
5150.0          18
5180.0           1
5185.0           1
5190.0           4
5195.0           1
5198.0           1
5199.0          19
5200.0         156
5222.0           3
5248.0           1
5249.0           2
5250.0          56
5255.0           1
5290.0          15
5298.0           1
5299.0          15
5300.0          86
5333.0           3
5350.0          32
5380.0           2
5390.0          10
5399.0          15
5400.0          74
5444.0           1
5450.0          37
5454.0           1
5475.0           1
5485.0           1
5489.0           1
5490.0          46
5495.0           1
5499.0          48
5500.0         340
5540.0           1
5550.0          18
5555.0          31
5590.0           5
5599.0           5
5600.0          91
5634.0           1
5650.0          29
5666.0           2
5685.0           1
5689.0           1
5690.0           9
5695.0           2
5699.0          11
5700.0          67
5740.0           1
5749.0           1
5750.0          41
5790.0           8
5799.0          18
5800.0         123
5849.0           1
5850.0          40
5855.0           1
5870.0           2
5879.0           1
5880.0           2
5888.0           2
5890.0          13
5895.0           1
5899.0          11
5900.0         209
5913.0           1
5924.0           1
5949.0           1
5950.0          81
5980.0           4
5990.0          86
5995.0           6
5997.0           1
5998.0           1
5999.0         140
6000.0         190
6039.0           1
6050.0           1
6099.0           4
6100.0          40
6140.0           1
6149.0           2
6150.0          16
6155.0           1
6170.0           1
6190.0           5
6195.0           1
6199.0          19
6200.0         106
6202.0           1
6208.0           1
6222.0           2
6249.0           2
6250.0          48
6279.0           1
6290.0          12
6295.0           1
6299.0          24
6300.0         103
6333.0           1
6340.0           1
6350.0          28
6389.0           1
6390.0           9
6399.0          12
6400.0          62
6410.0           1
6444.0           1
6447.0           1
6450.0          43
6460.0           1
6470.0           1
6479.0           1
6480.0           5
6490.0          38
6495.0           1
6498.0           1
6499.0          49
6500.0         300
6530.0           1
6543.0           1
6545.0           1
6550.0          17
6578.0           1
6590.0           7
6599.0           8
6600.0          53
6650.0          17
6666.0          15
6680.0           3
6690.0           8
6695.0           1
6699.0          10
6700.0          69
6725.0           1
6745.0           1
6749.0           1
6750.0          57
6755.0           1
6770.0           1
6777.0           2
6790.0          11
6792.0           1
6795.0           2
6799.0           9
6800.0         128
6840.0           2
6849.0           2
6850.0          41
6870.0           2
6879.0           1
6888.0           2
6889.0           1
6890.0          16
6895.0           1
6899.0          16
6900.0         165
6911.0           1
6920.0           1
6940.0           1
6950.0          67
6969.0           1
6970.0           3
6977.0           1
6979.0           1
6980.0           5
6989.0           2
6990.0          75
6995.0           3
6998.0           1
6999.0         106
7000.0         165
7050.0           1
7085.0           1
7099.0           2
7100.0          23
7150.0          15
7190.0           7
7199.0           9
7200.0         105
7234.0           1
7240.0           1
7249.0           1
7250.0          50
7280.0           1
7290.0           7
7295.0           1
7298.0           1
7299.0          15
7300.0          71
7333.0           1
7350.0          29
7373.0           1
7380.0           1
7390.0           8
7395.0           2
7399.0          14
7400.0          66
7420.0           1
7430.0           1
7435.0           1
7449.0           1
7450.0          33
7460.0           1
7470.0           1
7490.0          43
7498.0           2
7499.0          58
7500.0         214
7550.0           6
7555.0           3
7590.0           8
7599.0          11
7600.0          68
7650.0          26
7655.0           1
7680.0           1
7690.0          10
7699.0           8
7700.0          59
7750.0          31
7777.0          22
7790.0           8
7795.0           1
7799.0          12
7800.0         104
7820.0           1
7825.0           1
7840.0           1
7849.0           2
7850.0          25
7880.0           2
7888.0           4
7890.0           3
7899.0          15
7900.0         156
7930.0           1
7949.0           2
7950.0          66
7980.0           6
7985.0           1
7990.0          70
7995.0           2
7999.0         115
8000.0         161

In [10]:
#calculating the percentage of price values less than $500 and price values greater than $150,000 
print((sum(autos['price'] < 500) / len(autos['price'])) * 100)
print((sum(autos['price'] > 100000) / len(autos['price'])) * 100)

9.778
0.106

When looking at the values in the odometer_km and price columns, the odometer_km values fall into a reasonable range. However, the price column doesn't look right - we see values from \\$0 all the way up to \\$100 million. Nearly 10% of our data has a price below \\$500, with 3\% at \\$0. We'll keep values between 100 and 100,000 in the price column so we don't lose too much our data. Any values outside that range, will be considered outliers that we'll remove.

In [11]:
autos = autos.loc[autos["price"].between(500,100000)]

In [12]:
autos['price'].describe()

count    45058.000000
mean      6177.407342
std       7636.932471
min        500.000000
25%       1500.000000
50%       3500.000000
75%       7900.000000
max      99900.000000
Name: price, dtype: float64

### Clean Date Columns

The date columns: date_crawled, ad_created, last_seen are strings. We'll convert these to datetime objects and remove the time stamps as the date is the only piece we are concerned with.

In [13]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [14]:
#convert date columns to dataetime, only keep date
date_cols = ['date_crawled', 'ad_created', 'last_seen']

for col in date_cols:
    autos[col] = pd.to_datetime(autos[col])
    autos[col] = autos[col].dt.date

In [15]:
autos[['date_crawled', 'ad_created', 'last_seen']].head()

  date_crawled  ad_created   last_seen
0   2016-03-26  2016-03-26  2016-04-06
1   2016-04-04  2016-04-04  2016-04-06
2   2016-03-26  2016-03-26  2016-04-06
3   2016-03-12  2016-03-12  2016-03-15
4   2016-04-01  2016-04-01  2016-04-01

In [16]:
autos['registration_year'].describe()

count    45058.000000
mean      2005.063918
std         89.689852
min       1000.000000
25%       2000.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

The registration_year column has a minimum of 1000 and maximum of 9999. The car was invented around 1900 and our dataset was created in 2016 so we'll only keep registration years within this range.

In [17]:
autos['registration_year'].between(1900, 2016).sum()

43284

In [18]:
autos = autos.loc[autos['registration_year'].between(1900,2016)]

### Translating Data

As mentioned in the intro, our dataset was taken from the German Ebay website. Some of the columns have German words and we'll translate these to English so we can have a better understanding of the data

In [19]:
autos['vehicle_type'].value_counts().head(20)

limousine     12069
kleinwagen     9216
kombi          8541
bus            3952
cabrio         2958
coupe          2346
suv            1953
andere          347
Name: vehicle_type, dtype: int64

In [20]:
german_to_english = {'limousine':'sedan', 
                     'kleinwagen':'small_car',
                     'kombi': 'vw_bus',
                     'bus': 'bus',
                     'cabrio': 'convertible',
                     'coupe' : 'coupe',
                     'suv' : 'suv',
                     'andere': 'other'
                    }

german_to_english1 = {'manuell':'manual',
                      'automatik':'automatic'
                    }

german_to_english3 = {'nein': 'no',
                      'ja': 'yes'}

autos['vehicle_type'] = autos['vehicle_type'].map(german_to_english)
autos['gearbox'] = autos['gearbox'].map(german_to_english1)
autos['unrepaired_damage'] = autos['unrepaired_damage'].map(german_to_english3)

We've managed to clean up our dataset, now we'll begin doing some analysis. There are roughly 40 unique brands in our dataset. We'll look at the top 10 most popular brands - meaning the brands with the most cars listed

We want to determine average prices and average mileage for the different brands and determine if there is any relationship between the two.

### Exploring Price by Brand

In [21]:
brand_counts = list(autos['brand'].value_counts()[:10].index)
brand_counts

['volkswagen',
 'bmw',
 'mercedes_benz',
 'opel',
 'audi',
 'ford',
 'renault',
 'peugeot',
 'fiat',
 'seat']

In [22]:
autos[autos['brand'].isin(brand_counts)].groupby('brand').mean()['price'].sort_values(ascending=False)

brand
audi             9571.457398
mercedes_benz    8666.677208
bmw              8447.069880
volkswagen       5783.622985
seat             4810.883871
ford             4247.120482
opel             3394.039568
peugeot          3360.920597
fiat             3256.152110
renault          2819.059411
Name: price, dtype: float64

The above dictionary shows average price by brand for the top 10 brands (posting count).
* Max - \\$8-10k
* Mid - \\$4-6k
* Min - Around \\$3k

Audi, Mercedes, and BMW are the most expensive brands. Followed by Volkswagen, Seat, and Ford which are mid-range. The rest of the brands are the cheapest at around \\$3k. 7 of the 10 brands fall into the \\$3k-6k range

### Exploring Mileage by Brand

In [23]:
autos[autos['brand'].isin(brand_counts)].groupby('brand').mean()['odometer_km'].sort_values(ascending=False)

brand
bmw              132928.714859
mercedes_benz    131083.126271
audi             128941.326531
volkswagen       128234.749455
opel             128012.422360
renault          126351.209253
peugeot          126073.113208
ford             123520.552799
seat             120058.064516
fiat             114416.094210
Name: odometer_km, dtype: float64

Above we see average mileage by brand. All of the brands are within roughly 15k miles of each other. Half of them have average mileage of 128-132k and the bottom half is between 120-126 beside fiat which is around 114k.

### Comparing Price and Mileage by Brand

In [24]:
autos[autos['brand'].isin(brand_counts)].groupby('brand').mean()[['price', 'odometer_km']].sort_values(by='price', ascending=False)

                     price    odometer_km
brand
audi           9571.457398  128941.326531
mercedes_benz  8666.677208  131083.126271
bmw            8447.069880  132928.714859
volkswagen     5783.622985  128234.749455
seat           4810.883871  120058.064516
ford           4247.120482  123520.552799
opel           3394.039568  128012.422360
peugeot        3360.920597  126073.113208
fiat           3256.152110  114416.094210
renault        2819.059411  126351.209253

When comparing the average price to average miles of the top 10 brands, we can see somewhat of a trend between mileage and price within the price brackets (Max, Mid, Low). For the most part, the lower the mileage, the more expensive the car. For example, looking at the car brands in the Max bracket (Audi, Mercedes, BMW) as the average price decreases, the average miles increase.

### Comparing Price and Mileage Overall

In [25]:
#group cars into mileage buckets
odometer_buckets = {}

for index, value in autos['odometer_km'].iteritems():
    miles = int(value)
    if 5000 <= miles < 30000:
        odometer_buckets[index] = '5k to 30k'
    elif 3000 <= miles < 70000:
        odometer_buckets[index] = '30k to 70k'
    elif 70000 <= miles < 100000:
        odometer_buckets[index] = '70k to 100k'
    elif 100000 <= miles <= 125000:
        odometer_buckets[index] = '100k to 125k'
    elif miles > 125000:
        odometer_buckets[index] = '125k+'
        
ob_series = pd.Series(odometer_buckets)
autos['odometer_km_group'] = ob_series

Majority of cars have higher mielage - 63% of cars have 125k+ and nearly 80% of cars have over 100k miles. I would expect this to be the case as the majority of people will sell their car after they've owned it for a while.

In [26]:
autos['odometer_km_group'].value_counts()

125k+           27442
100k to 125k     6623
70k to 100k      4123
30k to 70k       3606
5k to 30k        1490
Name: odometer_km_group, dtype: int64

There is a negative correlation between mileage and price. We can see that as the mileage increases, the price descreases. On average, a car with 125k+ miles will cost around \\$4k vs a car with 5-30k miles which will cost around \\$15k.

In [27]:
autos.groupby('odometer_km_group').mean()['price'].sort_values()

odometer_km_group
125k+            4088.215910
100k to 125k     6970.396044
70k to 100k      9789.884308
30k to 70k      14150.301997
5k to 30k       14550.914094
Name: price, dtype: float64